/* Landing page styling */

.landing-blocchat{
  background-color: gray;
  width: 35%;
  height: 600px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  margin: auto;
}

.landing-logo{
  padding-top: 130px;
}

.type-username{
  margin-bottom: 5px;
  width: 24vw;
  height: 6vh;
  font-size: 1.8vw;
  text-align: center;
  border-radius: 5px;
}

.set-username-button{
  width: 24.5vw;
  height: 6vh;
  border-radius: 5px;
  font-size: 1.8vw;
  background-color: #F5F5F5;
}

.message-input{
  font-size: 20px;
}

/* Main chat page styling */

h1{
    font-family: 'Bungee Outline';
    padding: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 1px black;
}

.both-column {
  margin: auto;
  position: relative;
  padding-top: 0;
  border: 1px solid grey;
  background-color: #F5F5F5;
  width: 700px;
  border-radius: 10px;
}

.left-box {
    border-radius: 10px;
    background-color: grey;
    display:inline-block;
    border: 0;
    top:0;
    width: 220px;
}

.right-box {
    /*position: fixed;*/
    height: auto;
    bottom: 0;
    display:inline-block;
    font-family: 'Heebo', sans-serif;
}

.message-content{
  position: absolute;
  top: 0;
  padding-left: 20px;
}

.new-room-button {
    width: 100%;
    height: 105px;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    color: white;
    background-color: grey;
}

.new-room-button: hover{
    cursor: pointer;
}

table{
    width: 100%;
    font-family: 'Open Sans';
    font-size: 20px;
    position: relative;
    border-collapse: collapse;
}

th{
    border: 0.2px solid lightgray;
    margin:0;
    padding: 0;
    height: 60px;
    background-color: #F5F5F5;
}

.room-name:hover {
    cursor: pointer;
}

.room-name {
    padding: : 10px;
}

.send-message-box {
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    bottom: 0;
    width: 50%;
}

.message-input {
    font-size: 15px;
    padding: 11px 93px;
    /*border-radius: 7px;*/
    position: absolute;
    display: inline-block;
    bottom: 0;
}

.new-message-button {
  font-size: 15px;
  border-radius: 5px;
  background-color: lightblue;
  padding: 12px 10px;
  right: 0;
  bottom: 0px;
  position: absolute;
  display: inline-block;
}

.content {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  border-color: lightgrey;
  border-bottom-style: solid;
  display: inline-flex;
}

  /* Medium and small screens (640px) */
  @media (min-width: 640px) {
     html { font-size: 112%; }
  }

  /* Large screens (1024px) */
  @media (min-width: 1024px) {
     html { font-size: 120%; }
    /* Style information will go here */
  }

  .create-room-modal{
    z-index: 100;
    position: relative;
  }
