.modal-body {
    background-color: lightgray;
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    color: #6496c8;
    border-radius: 10px;
    width: 50%;
    position: static;
}

.new-room-name-input {
    width: 70%;
}