<div class="username-modal-body container-fluid">
    <div class="username-modal-header">
        <h2 class="modal-title"> Set a username</h2>
        </div>
    <div class="username-modal-body">
        The name will appear when you send message.
        </div>
    <div class="username-modal">
        Type username here:<input type="text" ng-model="username">
    </div>
    <div class="username-modal-footer">
        <button class="btn btn-primary" type="button" ng-click= "setUsername()">Set username</button>
    </div>
</div>
